<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Clean Architecture Generator</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/quasar@2.7.1/dist/quasar.prod.css" rel="stylesheet" type="text/css">
    <style type="text/css">
/*
body.screen--xs .my-card {
  width: 90vw;
}
body.screen--sm .my-card {
  width: 60vw;
}
*/
.my-card {
  width: 50vw;
  min-width: 600px;
  overflow-y: hidden;
}
    </style>
  </head>
  <body>
    <div id="q-app">
      <q-layout view="hHh lpR fFf">
        <q-header class="bg-primary text-white">
          <q-toolbar>
            <q-toolbar-title>
              {{ title }}
            </q-toolbar-title>
          </q-toolbar>
        </q-header>
        <q-page-container>
          <q-page class="flex flex-center my-page">
            <my-form>
            </my-form>
          </q-page>
        </q-page-container>
      </q-layout>
    </div>

    <template id="my-form">
      <q-form ref="form" @submit.prevent="generate">
        <q-card square class="q-pa-md no-border-radius my-card">
          <q-card-section>
            <div class="text-h6">New project</div>
            <q-option-group
              v-model="selectedEngine"
              :options="engines"
              class="q-pt-sm"
              inline>
            </q-option-group>
            <q-input
              v-model="projectName"
              :label="label"
              :disable="!!downloadUrl"
              stack-label
              square
              filled
              class="q-pt-sm"
              :rules="[
              val => !!val || 'This filed is required',
              val => val.trim().length > 2 || 'At least 3 chars'
              ]"
              maxlength="100"
            >
            </q-input>
          </q-card-section>
          <q-card-section v-if="isGolang">
            <div>
              <div class="text-h6">Databases</div>
              <q-option-group
                v-model="selectedDatabases"
                :options="databases"
                type="toggle"
                inline>
              </q-option-group>
            </div>
            <div class="q-pt-md">
              <div class="text-h6">Servers</div>
              <q-option-group
                v-model="selectedServers"
                :options="servers"
                type="toggle"
                inline>
              </q-option-group>
            </div>
            <div class="q-pt-md">
              <div class="text-h6">Clients</div>
              <q-option-group
                v-model="selectedClients"
                :options="clients"
                type="toggle"
                inline>
              </q-option-group>
            </div>
            <div class="q-pt-md">
              <div class="text-h6">SDKs</div>
              <q-option-group
                v-model="selectedSdks"
                :options="sdks"
                type="toggle"
                inline>
              </q-option-group>
            </div>
          </q-card-section>
          <q-card-section>
            <q-separator class="q-mb-md"></q-separator>
            <div class="flex row q-gutter-md justify-align">
              <q-btn
                :disable="!!downloadUrl || !isValidForm"
                :loading="loading"
                unelevated
                square
                type="submit"
                color="primary"
                label="Generate"
                class="no-border-radius"
              >
              </q-btn> 
              <div v-if="hasError" class="text-negative">
                Something was wrong. We could not generate your {{ selectedEngine }} project.
              </div>
              <q-btn
                v-if="downloadUrl && !hasError"
                unelevated
                square
                type="href"
                :href="downloadUrl"
                target="_blank"
                color="positive"
                label="Download"
                class="col no-border-radius"
              >
              </q-btn> 
            </div>
          </q-card-section>
        </q-card>
      </q-form>
    </template>

    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quasar@2.7.1/dist/quasar.umd.prod.js"></script>
    <script>
      const GOLANG = 'golang'
      const QUASAR = 'quasar'
      const GO_GRPC = 'go_grpc'
      const JS_HTTP = 'js_http'
      const JS_GRPCWEB = 'js_grpcweb'

      const POSTGRES = 'postgres'
      const SQLITE = 'sqlite'
      const DGRAPH = 'dgraph'

      const HTTP = 'http'
      const GRPC = 'grpc'
      const GRPC_WEB = 'grpcweb'
      const NATS = 'nats'

      const MyForm = {
        template: '#my-form',
        data() {
          return {
            loading: false,
            hasError: false,
            downloadUrl: '',
            projectName: 'myproject',
            selectedEngine: GOLANG,
            selectedDatabases: [POSTGRES],
            _selectedServers: [HTTP],
            _selectedClients: [HTTP],
            _selectedSdks: []
          }
        },
        computed: {
          selectedServers: {
            get() {
              return [...new Set(this._selectedServers)]
            },
            set(newVal) {
              if (newVal.indexOf(NATS) >= 0) {
                this._selectedClients.push(NATS)
              }
              if (newVal.indexOf(GRPC_WEB) >= 0) {
                newVal.push(HTTP)
                this._selectedSdks.push(JS_GRPCWEB)
              }
              this._selectedServers = newVal
            }
          },
          selectedClients: {
            get() {
              return [...new Set(this._selectedClients)]
            },
            set(newVal) {
              if (this._selectedServers.indexOf(NATS) >= 0) {
                newVal.push(NATS)
              }
              this._selectedClients = newVal
            }
          },
          selectedSdks: {
            get() {
              return [...new Set(this._selectedSdks)]
            },
            set(newVal) {
              const hasGolang = newVal.indexOf(GOLANG) >= 0
              const hasJsHttp = newVal.indexOf(JS_HTTP) >= 0
              const hasJsGrpcWeb = newVal.indexOf(JS_GRPCWEB) >= 0
              if (hasGolang) {
                  this._selectedServers.push(GRPC)
              }
              if (hasJsHttp) {
                this._selectedServers.push(HTTP)
              }
              if (hasJsGrpcWeb) {
                this._selectedServers.push(HTTP)
                this._selectedServers.push(GRPC_WEB)
              }
              this._selectedSdks = newVal
            }
          },
          databases() {
            return [
              {label: 'Postgres', value: POSTGRES},
              {label: 'Sqlite', value: SQLITE},
              {label: 'DGraph', value: DGRAPH}
            ]
          },
          servers() {
            return [
              {label: 'HTTP', value: HTTP},
              {label: 'gRPC', value: GRPC},
              {label: 'gRPC-Web', value: GRPC_WEB},
              {label: 'Nats', value: NATS}
            ]
          },
          clients() {
            return [
              {label: 'HTTP', value: HTTP},
              {label: 'gRPC', value: GRPC},
              {label: 'Nats', value: NATS}
            ]
          },
          sdks() {
            return [
              {label: 'gRPC (Go)', value: GO_GRPC},
              {label: 'HTTP (Javascript)', value: JS_HTTP},
              {label: 'gRPC-Web (Javascript)', value: JS_GRPCWEB}
            ]
          },
          engines() {
            return [
              {label: 'Golang', value: GOLANG},
              {label: 'Quasar (VueJS)', value: QUASAR}
            ]
          },
          isGolang() {
            return this.selectedEngine == GOLANG
          },
          label() {
            if (this.isGolang) {
              return 'Module name'
            }
            return 'Project name'
          },
          isValidForm() {
            return this.selectedServers.length > 0 && this.selectedDatabases.length > 0
          }
        },
        methods: {
          generate() {
            const { selectedEngine, selectedDatabases, selectedServers, selectedClients, selectedSdks } = this
            const form = this.$refs.form
            form.validate().then(success => {
              if (success) {
                form.resetValidation()
                let projectName = this.projectName || ''
                if (projectName) {
                  projectName = projectName.replace('-', '_').replace(' ', '_')
                }
                const req = {
                  engine: selectedEngine,
                  name: projectName,
                  databases: selectedDatabases,
                  servers: selectedServers,
                  clients: selectedClients,
                  sdks: selectedSdks
                };
                const options = {
                  method: 'POST',
                  headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json;charset=UTF-8'
                  },
                  body: JSON.stringify(req)
                };

                this.loading = true;
                fetch('/generate', options)
                  .then(res => res.ok ? res.json() : Promise.reject(new Error(res.status)))
                  .then(data => {
                    this.downloadUrl = data.message; 
                    this.loading = false;
                  })
                  .catch(err => {
                    this.hasError = true;
                    this.loading = false;
                  });
              }
            })
          }
        }
      };
      const app = Vue.createApp({
        setup() {
          return {
            title: 'Clean Architecture Generator'
          }
        }
      });
      app.use(Quasar);
      app.component('MyForm', MyForm);
      app.mount('#q-app');
    </script>
  </body>
</html>
