<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Project Generator</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet"
    type="text/css">
  <link href="https://cdn.jsdelivr.net/npm/quasar@2.12.0/dist/quasar.prod.css" rel="stylesheet" type="text/css">
  <style type="text/css">
    /*
body.screen--xs .my-card {
  width: 90vw;
}
body.screen--sm .my-card {
  width: 60vw;
}
*/
    .my-card {
      max-width: 100%;
      min-width: 600px;
      overflow-y: hidden;
    }

    .tech-card {
      min-height: 100%;
      width: 200px;
    }

    .model-card {
      min-height: 100%;
      width: auto;
    }

  </style>
</head>

<body>
  <div id="q-app">
    <q-layout view="hhh lpR fFf">
      <q-header class="bg-primary text-white shadow-2">
        <q-toolbar>
          <q-toolbar-title>
            {{ title }}
          </q-toolbar-title>
        </q-toolbar>
      </q-header>
      <q-page-container>
        <q-page class="bg-grey-1">
          <my-form>
          </my-form>
        </q-page>
      </q-page-container>
    </q-layout>
  </div>

  <template id="my-form">
    <q-form ref="form" @submit.prevent="generate">
      <q-tabs v-model="selectedEngine" inline-label align="left" class="bg-grey-8 text-white" indicator-color="black">
        <q-tab name="golang" label="Golang"></q-tab>
        <q-tab name="quasar" label="Quasar"></q-tab>
      </q-tabs>
      <q-card flat class="q-pa-md no-border my-card bg-grey-1">
        <q-tab-panels v-model="selectedEngine" animated class="">
          <q-tab-panel name="golang">
            <div>
              <q-input v-model="projectName" :label="label" :disable="!!downloadUrl" stack-label :rules="[
                  val => !!val || 'This filed is required',
                  val => val.trim().length > 2 || 'At least 3 chars'
                  ]" maxlength="100">
              </q-input>
            </div>
            <div class="text-h6">Components</div>
            <div class="q-pt-sm row justify-start q-gutter-md">
              <q-card flat bordered class="tech-card">
                <q-item dense>
                  <q-item-section>
                    <q-item-label class="text-subtitle1">Databases</q-item-label>
                  </q-item-section>
                </q-item>
                <q-separator></q-separator>
                <q-card-section>
                  <q-option-group v-model="selectedDatabases" :options="databases" type="toggle">
                  </q-option-group>
                </q-card-section>
              </q-card>
              <q-card flat bordered class="tech-card">
                <q-item dense>
                  <q-item-section>
                    <q-item-label class="text-subtitle1">Servers</q-item-label>
                  </q-item-section>
                </q-item>
                <q-separator></q-separator>
                <q-card-section>
                  <q-option-group v-model="selectedServers" :options="servers" type="toggle">
                  </q-option-group>
                </q-card-section>
              </q-card>
              <q-card flat bordered class="tech-card">
                <q-item dense>
                  <q-item-section>
                    <q-item-label class="text-subtitle1">Clients</q-item-label>
                  </q-item-section>
                </q-item>
                <q-separator></q-separator>
                <q-card-section>
                  <q-option-group v-model="selectedClients" :options="clients" type="toggle">
                  </q-option-group>
                </q-card-section>
              </q-card>
              <q-card flat bordered class="tech-card">
                <q-item dense>
                  <q-item-section>
                    <q-item-label class="text-subtitle1">SDKs</q-item-label>
                  </q-item-section>
                </q-item>
                <q-separator></q-separator>
                <q-card-section>
                  <q-option-group v-model="selectedSdks" :options="sdks" type="toggle">
                  </q-option-group>
                </q-card-section>
              </q-card>
            </div>
            <div class="text-h6 q-pt-lg">Models</div>
            <div class="q-pt-sm row justify-start q-gutter-md">
              <q-card v-for="(model, index) in models" :key="index" flat bordered class="model-card">
                <q-item dense>
                  <q-item-section>
                    <q-input v-if="isEditMode(model)" v-model="model.name" dense hide-bottom-space no-error-icon
                      hide-hint maxlength="30" class="q-pa-none">
                    </q-input>
                    <q-item-label v-else class="text-subtitle1">{{ model.name }}</q-item-label>
                  </q-item-section>
                </q-item>
                <q-separator></q-separator>
                <q-card-section class="q-pa-none">
                  <q-list dense>
                    <q-item dense v-for="(field, idx) in model.fields" :key="idx">
                      <q-item-section>
                        <q-input v-if="isEditMode(model)" v-model="field.name" dense hide-bottom-space no-error-icon
                          hide-hint maxlength="30" class="q-pa-none">
                        </q-input>
                        <span v-else>
                          {{ field.name }}
                        </span></span>
                      </q-item-section>
                      <q-item-section avatar class="text-uppercase text-grey-8">
                        <q-select v-if="isEditMode(model)" v-model="field.type" :options="primitives" dense
                          hide-bottom-space no-error-icon hide-hint>
                        </q-select>
                        <span v-else>
                          {{ field.type }}
                        </span>
                      </q-item-section>
                      <q-item-section side>
                        <q-btn icon="close" size="xs" dense unelevated :disable="model.fields.length === 1"
                          @click="removeField(model, field)">
                        </q-btn>
                      </q-item-section>
                    </q-item>
                  </q-list>
                </q-card-section>
                <q-card-actions class="justify-start q-gutter-md q-pa-md">
                  <q-btn v-if="!!selectedModel.name" color="primary" size="sm" icon="check" unelevated round dense
                    @click="selectedModel={}"></q-btn>
                  <q-btn v-else color="secondary" size="sm" icon="edit" unelevated round dense
                    @click="editModel(model)"></q-btn>
                  <q-btn color="secondary" size="sm" icon="add" unelevated round dense @click="addField(model)"></q-btn>
                  <q-btn color="negative" size="sm" icon="remove" unelevated round dense :disable="models.length === 1"
                    @click="removeModel(model)">
                  </q-btn>
                </q-card-actions>
              </q-card>
            </div>
            <q-btn color="accent" icon="add" label="model" unelevated class="q-mt-md" :disable="!!selectedModel.name"
              @click="addModel">
            </q-btn>
          </q-tab-panel>
          <q-tab-panel name="quasar">
            <div>
              <q-input v-model="projectName" :label="label" :disable="!!downloadUrl" stack-label :rules="[
                  val => !!val || 'This filed is required',
                  val => val.trim().length > 2 || 'At least 3 chars'
                  ]" maxlength="100">
              </q-input>
            </div>
          </q-tab-panel>
        </q-tab-panels>

        <div class="flex row q-gutter-md justify-align q-mt-md">
          <q-btn
            :disable="!!downloadUrl || !isValidForm || !!selectedModel.name"
            :loading="loading"
            unelevated
            type="submit"
            color="primary"
            label="Generate Project"
            style="width: 170px"
          >
          </q-btn>
          <div v-if="hasError" class="text-negative">
            Something was wrong. We could not generate your {{ selectedEngine }} project.
          </div>
          <q-btn
            v-if="downloadUrl && !hasError"
            unelevated
            type="href"
            :href="downloadUrl"
            target="_blank"
            color="positive"
            label="Download now"
            style="width: 170px"
          >
          </q-btn>
        </div>
      </q-card>
    </q-form>
  </template>

  <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/quasar@2.12.0/dist/quasar.umd.prod.js"></script>

  <script>
    const GOLANG = 'golang'
    const QUASAR = 'quasar'
    const GO_GRPC = 'go_grpc'
    const JS_HTTP = 'js_http'
    const JS_GRPCWEB = 'js_grpcweb'

    const POSTGRES = 'postgres'
    const SQLITE = 'sqlite'
    const DGRAPH = 'dgraph'

    const HTTP = 'http'
    const GRPC = 'grpc'
    const GRPC_WEB = 'grpcweb'
    const NATS = 'nats'

    const TYPE_STRING = 'string'
    const TYPE_INT = 'int'
    const TYPE_BOOL = 'bool'
    const TYPE_FLOAT = 'float'

    const MyForm = {
      template: '#my-form',
      data() {
        return {
          loading: false,
          hasError: false,
          downloadUrl: '',
          projectName: 'myproject',
          selectedEngine: GOLANG,
          selectedDatabases: [POSTGRES],
          _selectedServers: [HTTP],
          _selectedClients: [HTTP],
          _selectedSdks: [],
          primitives: [
            {label: 'String', value: TYPE_STRING},
            {label: 'Int', value: TYPE_INT},
            {label: 'Bool', value: TYPE_BOOL},
            {label: 'Float', value: TYPE_FLOAT}
          ],
          selectedModel: {},
          models: [
            {
              name: 'Account',
              fields: [
                {name: 'ID', type: TYPE_STRING},
                {name: 'Email', type: TYPE_STRING},
                {name: 'IsActive', type: TYPE_BOOL},
                {name: 'Password', type: TYPE_STRING}
              ]
            },
            {
              name: 'Todo',
              fields: [
                {name: 'ID', type: TYPE_STRING},
                {name: 'CreatedAt', type: TYPE_STRING},
                {name: 'IsDone', type: TYPE_BOOL},
                {name: 'Title', type: TYPE_STRING}
              ]
            }
          ]
        }
      },
      computed: {
        selectedServers: {
          get() {
            return [...new Set(this._selectedServers)]
          },
          set(newVal) {
            if (newVal.indexOf(NATS) >= 0) {
              this._selectedClients.push(NATS)
            }
            if (newVal.indexOf(GRPC_WEB) >= 0) {
              newVal.push(HTTP)
              this._selectedSdks.push(JS_GRPCWEB)
            }
            this._selectedServers = newVal
          }
        },
        selectedClients: {
          get() {
            return [...new Set(this._selectedClients)]
          },
          set(newVal) {
            if (this._selectedServers.indexOf(NATS) >= 0) {
              newVal.push(NATS)
            }
            this._selectedClients = newVal
          }
        },
        selectedSdks: {
          get() {
            return [...new Set(this._selectedSdks)]
          },
          set(newVal) {
            const hasGolang = newVal.indexOf(GOLANG) >= 0
            const hasJsHttp = newVal.indexOf(JS_HTTP) >= 0
            const hasJsGrpcWeb = newVal.indexOf(JS_GRPCWEB) >= 0
            if (hasGolang) {
              this._selectedServers.push(GRPC)
            }
            if (hasJsHttp) {
              this._selectedServers.push(HTTP)
            }
            if (hasJsGrpcWeb) {
              this._selectedServers.push(HTTP)
              this._selectedServers.push(GRPC_WEB)
            }
            this._selectedSdks = newVal
          }
        },
        databases() {
          return [
            {label: 'Postgres', value: POSTGRES},
            {label: 'Sqlite', value: SQLITE},
            {label: 'DGraph', value: DGRAPH}
          ]
        },
        servers() {
          return [
            {label: 'HTTP', value: HTTP},
            {label: 'gRPC', value: GRPC},
            {label: 'gRPC-Web', value: GRPC_WEB},
            {label: 'Nats', value: NATS}
          ]
        },
        clients() {
          return [
            {label: 'HTTP', value: HTTP},
            {label: 'gRPC', value: GRPC},
            {label: 'Nats', value: NATS}
          ]
        },
        sdks() {
          return [
            {label: 'gRPC (Go)', value: GO_GRPC},
            {label: 'HTTP (JS)', value: JS_HTTP},
            {label: 'gRPC-Web (JS)', value: JS_GRPCWEB}
          ]
        },
        engines() {
          return [
            {label: 'Golang', value: GOLANG},
            {label: 'Quasar (VueJS)', value: QUASAR}
          ]
        },
        isGolang() {
          return this.selectedEngine == GOLANG
        },
        label() {
          if (this.isGolang) {
            return 'Module name'
          }
          return 'Project name'
        },
        isValidForm() {
          return this.selectedServers.length > 0 && this.selectedDatabases.length > 0
        }
      },
      methods: {
        editModel(model) {
          this.selectedModel = model
        },
        removeModel(model) {
          this.models = this.models.filter(m => m.name !== model.name)
        },
        addModel() {
          const random = (Math.random() + 1).toString(36).substring(7)
          this.models.push({
            name: 'A' + random + 'Model',
            fields: [{
              name: 'id',
              type: TYPE_STRING
            }]
          })
        },
        addField(model) {
          model.fields.push({
            name: '',
            type: TYPE_STRING
          })
          this.editModel(model)
        },
        isEditMode(model) {
          return model.name === this.selectedModel.name
        },
        removeField(model, field) {
          model.fields = model.fields.filter(f => f.name !== field.name)
        },
        generate() {
          const {selectedEngine, selectedDatabases, selectedServers, selectedClients, selectedSdks, models} = this
          const form = this.$refs.form
          form.validate().then(success => {
            if (success) {
              form.resetValidation()
              let projectName = this.projectName || ''
              if (projectName) {
                projectName = projectName.replace('-', '_').replace(' ', '_')
              }
              const req = {
                engine: selectedEngine,
                name: projectName,
                databases: selectedDatabases,
                servers: selectedServers,
                clients: selectedClients,
                sdks: selectedSdks,
                models: models
              };
              const options = {
                method: 'POST',
                headers: {
                  'Accept': 'application/json',
                  'Content-Type': 'application/json;charset=UTF-8'
                },
                body: JSON.stringify(req)
              };

              this.loading = true;
              fetch('/generate', options)
                .then(res => res.ok ? res.json() : Promise.reject(new Error(res.status)))
                .then(data => {
                  this.downloadUrl = data.message;
                  this.loading = false;
                })
                .catch(err => {
                  this.hasError = true;
                  this.loading = false;
                });
            }
          })
        }
      }
    };
    const app = Vue.createApp({
      setup() {
        return {
          title: 'Clean Architecture Generator'
        }
      }
    });
    app.use(Quasar);
    app.component('MyForm', MyForm);
    app.mount('#q-app');
  </script>
</body>

</html>
